.container {
    width: 100%;
    position: absolute;
    top: -20px;
    display: block;
}

.header {
    background-color: #ADD8E6;
    position: relative;
    margin-top: 0;
}

.header h1 {
    text-align: center;
    color: #1E90FF;
}